body {
	background-image: url(https://images-na.ssl-images-amazon.com/images/I/71m5b4QsTKL._SL1500_.jpg);
	background-size: cover;
}

h1 {
	font-size: 25px;
	text-transform: capitalize;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: whitesmoke;
	text-shadow: rgb(250, 7, 128) -10px -12px 0.5em;
}

.robots {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	background-color:palevioletred;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.eye {
	display: flex;
}

.head:hover {
	width: 300px;
    transition: 0.5s ease-in-out;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	margin: 0 auto; 
	border-radius: 200px 200px 0 0;
	display: flex; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
	display: flex;
	transition: transform 1s;
} 

.left_arm { 
	margin-right: 10px; 
} 

.left_arm:hover {
	transform: rotate(70deg);
}

.right_arm { 
	margin-left: 10px; 
} 

.right_arm:hover{
	transform: rotate(1080deg);
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property.*/
	margin: 0 auto;
	display: flex;
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	/*-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);*/
    transform: rotate(25deg);
}

.right_leg { 
	margin-left: 30px; 
}

.right_leg:hover {
	transform: rotate(-25deg);
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px;  
	background-color: rgba(0, 0, 255, 0.349);
	transform-origin: left top;
	transition: transform 1s;
	transition-duration: 3s;
} 

.left_eye { 
	position: relative;
	/*relative: an element’s original position remains in the flow of the document. 
	Left/right/top/bottom/z-index will work. The positional properties “nudge” the element 
	from the original position in that direction.*/
	top: 100px; 
	left: 40px; 
}

.left_eye:hover {
	transform: rotate(1080deg);
}

.right_eye { 
	position: relative; 
	top: 80px; 
	left: 140px; 
}

.right_eye:hover {
	transform: rotate(1080deg);
}




